@mixin Soon_laptop{
  .Soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 69.2%, #ffffff 93.75%), url(/images/home-bg.png) lightgray -80px 0px / 111.111% 100% no-repeat;
    background-position: center;
    height:120vh;
    flex-shrink: 0;
    padding-top: 5%;

    h1{
      width: 50%;
      text-align: center;
      color:#003566;
      font-size: 2.75rem;
      padding-bottom: 1%;
    }
    img{
      padding-bottom: 1%;
    }
  }
}