@mixin Cookie_laptop{
  .cookies{
    .cookies-top{
      display: flex;
      flex-direction: column;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 69.2%, #ffffff 93.75%), url(/images/home-bg.png) lightgray -80px 0px / 111.111% 100% no-repeat;
      background-position: center;
      height:100vh;
      flex-shrink: 0;
      padding-top: 7.5%;
      transition: ease-in 0.1s;
      animation: fadeIn 1s ease-in-out;
      padding-left: 5%;

      h1{
        width: 60%;
        color: #031C43;
        font-size: 3.5rem;
        padding-bottom: 2%;
      }

      h2{
        color: #000814;
        font-size:1.5rem;
        font-weight: 600;
      }

      p{
        width: 60%;
        font-size: 1.4rem;
        color: #031C43;
        padding-bottom: 5%;
      }

      .cookies-table {
        width: 60%;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        table {
          width: 100%;

          thead {
            background-color: #004E96;
            color: #ffffff;
            text-align: left;

            th {
              padding: 12px 15px;
              font-weight: 500;
              font-size: 1.1rem;
            }
          }

          tbody {
            tr {
              border-bottom: 1px solid #dddddd;

              &:nth-of-type(even) {
                background-color: #f3f3f3;
              }

              &:last-of-type {
                border-bottom: 2px solid #004E96;
              }

              td {
                padding: 12px 15px;
                font-size: 1rem;
                color: #000814;
              }
            }
          }
        }
      }
    }
  }
}