@use "variables" as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #1b1b1b;
}

h1{
    font-family: $title-family;
}

h2{
    font-family: $title-family;
}

html, body{
  overflow-x: hidden;
}

#blue{
    color: #004E96;
}

.blue{
    color: #004E96;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}