@mixin Home_phone{
  .home-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 69.2%, #ffffff 93.75%), url(/images/home-bg.png) lightgray -80px 0px / 111.111% 100% no-repeat;
    background-position: center;
    height:fit-content;
    flex-shrink: 0;
    padding-top: 7.5%;
    transition: ease-in 0.1s;
    animation: fadeIn 1s ease-in-out;
    padding-bottom: 15%;

    h1{
      width: 85%;
      align-items: center;
      text-align: center;
      color: #031C43;
      font-size: 1.5rem;
      padding-bottom: 5%;
    }

    h2{
      width: 75%;
      color: #000814;
      text-align: center;
      font-size:1rem;
      font-weight: 500;
      padding-bottom: 3%;
    }

    .buttons{
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 50px;
      background: #F3F6F9;
      padding: 0.1rem;

      .left{
        padding: 0.2rem;
      }

      .right{
        padding: 0.2rem;
      }

      a{
        display: flex;
        align-items: center;
        color: #003566;
        font-size: 0.9rem;
        font-weight: 700;
        padding: 0.6rem 1.25rem;
        border-radius: 50px;
        background: #FFF;
      }

      #propos{
        color: rgba(0, 53, 102, 0.50);
      }

      #realisations{
        color: rgba(255, 195, 0, 0.75);
      }

      #propos:hover{
        color: rgba(0, 53, 102, 0.87);
      }

      #realisations:hover{
        color: rgb(234, 179, 0);
      }
    }


  }

  .home-services{
    z-index: 1;
    position: relative;
    padding: 0 5% 10%;
    width: 100%;
    animation: slideUp 1s ease-in-out;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: block;

    &.in-view {
      opacity: 1;
      transform: translateY(0);
    }

    .top{
      display: flex;
      justify-content: center;
      padding-bottom: 5%;
    }

    h1{
      color: #FFC300;
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
    }

    h2{
      color: #003566;
      font-size: 1.25rem;
      font-weight: 800;
      line-height: normal;
      padding-bottom: 5%;
    }

    p{
      color: #000814;
      font-size: 1rem;
      font-weight: 100;
      line-height: 1.5;
    }

    .service-card{
      width: 100%;
      min-height: fit-content;
      height:fit-content;
      border-radius: 15px;
      background: #E1EBF4;
      padding: 7.5% 0 0 7.5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 2.5%;

      .service-top{
        padding-right: 5%;
        .service-row{
          display: flex;
          align-items: center;
          padding-bottom: 5%;

          img{
            width: 1rem;
            height: 1rem;
            margin-right: 5%;
          }

          p{
              color: #004E96;
              font-size: 1rem;
              font-weight: 600;
          }
        }
      }

      .service-bottom{
        padding-top: 5%;
        display: flex;
        justify-content: flex-end;

        a{
          border-radius: 15px 0;
          background: #C9D8E7;
          padding: 2.5% 5%;
          color: #004E96;
        }

        a:hover{
          background: #B3CCE3;
          transform:translateX(1%);
        }
      }
    }

    .menu{
      padding-bottom: 2%;
    }

    .menu-bottom{
      .service-card{
        width: 100%;
        h2{
          padding-bottom: 5%;
        }

        .service-top{
          padding-right: 10%;
          p{
            font-size: 0.9rem;
            font-weight: 600;
          }
          .service-row{
            padding-bottom: 1.5%;
            display: flex;
            align-items: center;
            img{
              margin-right: 5%;
              width: 1rem;
              height: 1rem;
            }
          }
        }

        .service-bottom{
          a{
            border-radius: 15px 0;
            background: #C9D8E7;
            padding: 2.5% 5%;
            color: #004E96;
          }

          a:hover{
            background: #B3CCE3;
            transform:translateX(1%);
          }
        }
      }
    }
  }

.banner{
  display: none;
}

.follow-up-banner{
  display: none;
}

.banner-kiosk {
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 10% 5%;
  background-color: #031c43;
  text-align: center;

  .swiper {
    width: 90%;
    max-width: 400px;
  }

  .swiper-pagination-bullet {
    background: #ffffff; // Couleur des points de pagination
  }

  .banner-card {
    background-color: #003566;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #FFC300;
    }

    p {
      font-size: 1rem;
      color: #FFF
    }

    &:hover {
      transform: translateY(-3px);
      background-color: #004080;
    }
  }
}


.home-team{
  .top{
    h1{
        color: #FFC300;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        padding-bottom: 2%;
    }
  }

  .team{
    display: none;
  }
  .team-right{
    display: none;
  }

  .team-mobile{
    padding: 10%;

    .top{
      display: flex;
      justify-content: center;
      img{
        width:90%;
      }
    }

    .bottom{
      padding: 5%;

      h1{
        font-size: 1.25rem;
      }

      h2{
        color: #151515;
        font-size: 1rem;
        padding-bottom: 5%;
      }

      p{
        line-height:150%;
        font-weight: 200;
        font-size: 0.9rem;
      }

      .social{
        display: flex;
        padding-top: 2%;
        width: 100%;

        img{
          width: 3.25rem;
          padding-right: 15%;
        }
      }
    }
  }
}

.home-relation{
  .top{
    width: 100%;
    padding-left:5%;
    padding-bottom:2%;
    h1{
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: #004E96;
      padding-bottom: 2%;
    }

      p{
        width: 90%;
        color: #585858;
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        padding-bottom: 5%;
      }
    }

    .bottom{
      display: flex;
      flex-direction: column;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 10%;

      .left{
        order: 2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .relation-card{
          width: 100%;
          padding: 5% 5% 10%;
          margin-bottom: 2.5%;
          border-radius: 10px;
          border: 1px solid rgba(255, 195, 0, 0.40);
          background: rgba(255, 195, 0, 0.03);

          .card-top{
            display: flex;
            align-items: center;
            padding-bottom: 3%;

            h1{
              color: #000000;
              font-family: "Roboto", sans-serif;
              font-weight: 400;
              font-size: 1rem;
              padding-left: 4%;
            }

            img{
              width:1.5rem;
            }
          }

          p{
            width: 95%;
            color: #4e4e4e;
            font-family: "Inter", sans-serif;
            font-size: 0.9rem;
          }
        }

        .relation-card:hover{
          background: rgba(255, 213, 77, 0.4);
          transition: ease-in 0.2s;
        }
      }

      .right{
        display: flex;
        justify-content: flex-end;
        order: 1;
        width: 100%;
        margin-top: -11rem;
        padding-bottom: 15%;
        margin-left: 2rem;

        img{
          opacity: 0.3;
          width: 14rem;
          filter: blur(2px);
        }
      }
    }
  }


  .home-skills{
    padding-bottom: 5%;
    .top{
      display: flex;
      justify-content: center;
      padding-bottom: 2.5%;

      h1{
        color: #FFC300;
        font-family: Inter, sans-serif;
        font-size: 3rem;
      }
    }

    .skills-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #F8F8F8;
      padding: 2.5% 5%;

      .images {
        width: 80px;
        height:35px;
        object-fit: contain;
        margin: 5px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}