@mixin About_phone{
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5%;

    .about-top {
      width: 100%;
      text-align: center;
      padding-bottom: 10%;

      h2 {
        display: none;
      }

      h1 {
        color: #003566;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 5%;
      }

      p {
        color: #000814;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 5%;
        text-align: justify;
      }
    }

    .about-bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5% 0;

      .about-img {
        width: 60%;
        max-width: 400px;
      }
    }
  }

  .about-team{
    .top{
      h1{
        color: #FFC300;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        padding-bottom: 2%;
      }
    }

    .team{
      display: none;
    }
    .team-right{
      display: none;
    }

    .team-mobile{
      padding: 10%;

      .top{
        display: flex;
        justify-content: center;
        img{
          width:90%;
        }
      }

      .bottom{
        padding: 5%;

        h1{
          font-size: 1.25rem;
        }

        h2{
          color: #151515;
          font-size: 1rem;
          padding-bottom: 5%;
        }

        p{
          line-height:150%;
          font-weight: 200;
          font-size: 0.9rem;
        }

        .social{
          display: flex;
          padding-top: 2%;
          width: 100%;

          img{
            width: 3.25rem;
            padding-right: 15%;
          }
        }
      }
    }
  }
}