@mixin Root{
  .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:1% 3% 1% 5%;
    border-bottom: 1px solid #D0D0D0;

    .left{
      width: 25%;
      img{
        width: 12rem;
      }
    }

    .middle{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      a{
        margin: 0 2rem;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 500;
      }

      a:hover{
        color: #003566;
      }
    }

    .right{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;

      .language-buttons{
        margin-left: 1rem;

        .flags-button{
          background-color: transparent;
          border: none;
          color: #000000;
          margin-left: 1rem;
          cursor: pointer;
        }

        .flags{
          width: 2rem;
        }

        .flags:hover{
          transform: scale(1.1);
        }
      }

      a{
        background-color:#003566;
        color: #ffffff;
        padding: 1rem 1.5rem;
        border-radius: 50px;
      }

      a:hover{
        background-color: rgba(0, 53, 102, 0.81);
      }
    }
  }

  .bottom-navigation{
    display: none;
  }



  .footer{
    padding: 2.5%;
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5%;
      .left{
        img{
          width: 12rem;
        }
      }
      .right{
        a{
          background-color:#003566;
          color: #ffffff;
          padding: 0.65rem 1.25rem;
          border-radius: 50px;
        }

        a:hover{
          background-color: rgba(0, 53, 102, 0.81);
        }
      }
    }

    .bottom{
      border-top: 1px solid #D0D0D0;
      padding-top: 1.25%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left{
        width: 50%;
        display: flex;
        justify-content: space-between;

        a:hover{
          color: #003566;
        }
      }

      .right{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        img{
          width: 2rem;
          height: auto;
        }
      }
    }
  }

  .footer-mobile{
    display: none;
  }
}

