@mixin Root_phone{
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding:3% 5% 1% 5%;
    border-bottom: 1px solid #D0D0D0;
    .left{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 8rem;
      }
    }

    .middle{
      display: none;
    }

    .right{
      display: flex;

      a{
        display: none;
      }

      .language-buttons{
        display: flex;

        .flags-button{
          background-color: transparent;
          border: none;
          color: #000000;
          margin-left: 1rem;
          cursor: pointer;
        }

        .flags{
          width: 1.5rem;
        }

        .flags:hover{
          transform: scale(1.05);
        }
      }
    }
  }

  .bottom-navigation {
    display: flex;
    justify-content: center;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;

    .nav-container {
      display: flex;
      padding: 2% 6% 2%;
      width: 100%;
      background-color: #EFF4F9;
      height: 9vh;
      min-height: 80px;
      max-height: 15vh;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #444;
      padding: 0.3rem;

      h1{
        font-family: 'Roboto', sans-serif;
      }

      .top{
        height: 60%;
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        img {
          filter: invert(50%);
        }
      }

      .bottom{
        height: 40%;
        h1 {
          padding-top: 10%;
          font-size: 0.9rem;
          font-weight: 400;
        }
      }

      &.active {
        .top{
          align-items:center;
          justify-content: center;
          background-color: #003568;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50px;
        }
        img {
          filter: invert(0%);
        }

        h1 {
          color: #031C43;
          font-weight: 800;
        }
      }
    }
  }

  .footer{
    display: none;
  }

  .footer-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30%;

    .top{
      margin-right: 5%;
      margin-left: 5%;
      border-top: 1px solid #d0d0d0;
      padding-top: 5%;
      display: flex;
      justify-content: center;
      padding-bottom: 5%;
      align-items: center;
      img{
        width: 2rem;
        height: 2rem;
        margin: 0 1.5%;
      }

      a{
        display: flex;
        background-color: #004E96;
        align-items: center;
        color: #FFF;
        border-radius: 50px;
        padding: 2.5% 5%;
        margin: 0 1.5%;
      }
    }

    .bottom{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      p{
        font-size: 0.8rem;
        color: #444;
        padding: 2% 0;
      }

      a{
        font-size: 0.8rem;
        color: #444;
        padding: 2% 0;
      }

      img{
        padding-top: 5%;
        width: 10rem;
      }
    }
  }
}


