@mixin Root_phone{
  .header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding:3% 5% 1% 5%;
    border-bottom: 1px solid #D0D0D0;
    .left{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 8rem;
      }
    }

    .middle{
      display: none;
    }

    .right{
      display: none;
    }
  }

  .bottom-navigation {
    display: flex;
    justify-content: center;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    height: fit-content;

    .nav-container {
      display: flex;
      padding: 3% 6% 6%;
      width: 99%;
      background-color: #EFF4F9;
      height: 10vh;
      border-radius: 10px;
      justify-content: space-between;
      align-items: flex-end;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #444;
      transition: all 0.3s ease;
      padding: 0.3rem;
      border-radius: 50%;

      img {
        width: 1.4rem;
        transition: transform 0.3s ease;
      }

      h1 {
        padding-top: 10%;
        font-size: 0.9rem;
        font-weight: 200;
      }

      &.active {
        img {
          width: 2.5rem;
          margin-bottom: 0.4rem;
          transform: scale(1.1);
        }

        h1 {
          color:#031C43;
          font-weight: 600;
        }
      }
    }
  }



  .footer{
    padding: 5% 2.5% 30%;

    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5%;
      .left{
        img{
          width: 5rem;
        }
      }
      .right{
        a{
          font-size: 0.5rem;
          background-color:#003566;
          color: #ffffff;
          padding: 0.5rem 0.9rem;
          border-radius: 50px;
        }

        a:hover{
          background-color: rgba(0, 53, 102, 0.81);
        }
      }
    }

    .bottom{
      border-top: 1px solid #D0D0D0;
      padding-top: 1.25%;
      display: flex;

      .left{
        width: 80%;
        display: flex;
        justify-content: space-between;

        p{
            font-size: 0.5rem;
        }

        a{
          font-size: 0.5rem;
        }
      }

      .right{
        width: 20%;
        display: flex;
        justify-content: flex-end;

        img{
          width: 1.25rem;
          height: 1.25rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}